/* Styling this website will be divided into 3 parts */

/* 1-- at screen with more than 1024px width : */

/* Calling the fonts files */

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url(fonts/roboto-mono-v13-latin-ext_latin-regular.woff2) format('woff2'),
         url(fonts/roboto-mono-v13-latin-ext_latin-regular.woff) format('woff'),
         url(fonts/roboto-mono-v13-latin-ext_latin-regular.ttf) format('truetype');
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* small font-size helps preventing p elements overflow out grid elements */

body {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    text-align: center;
}
li {
    list-style: none;
}

/* Giving a fixed unified dimensions to all images */

img {
    width: 220px;
}
h2, h1 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 2px solid #a4a5a3;
    background: rgb(207, 218, 218);
}

/* General style properties to all grid items */

.grid-item {
    width: 25%;
    height: 50vh;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 1.5s;
    cursor: pointer;
}

/* Grid items at hover status */

.grid-item:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8%;
    text-shadow: 5px 5px 7px rgb(20, 19, 19);
    box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.2), 4px 10px 20px 4px rgba(0, 0, 0, 0.19);
    background-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
}

section {
    margin: 0px 10px 20px 20px;
}

/* Removing the float effect */

section + section {clear: both;}

/* Fixing the width of the very first element from the floats grid */

.grid-floats .grid-item:first-child {
    width: 50%;
}
    
/* The float grid */

.grid-floats > .grid-item {
    float: left;
}

/* The flex grid */

.grid-flex {
    display: flex;
    flex-flow: row wrap;
}

/* 2-- at screen width between 600 and 1024px */

@media screen and (max-width: 1024px) and (min-width: 600px) {
.grid-item {width: 33.3%;}
img {max-width: 25vw;}
.grid-floats .grid-item:nth-child(2) {width: 50%;}
}

/* 3-- at screen with less than 600px width */ 

@media screen and (max-width: 600px) {
    .grid-item {width: 100%; text-align: center;}
    img{max-width: 80vw;}
    .grid-floats .grid-item:first-child {width: 100%;}
}