* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: 20px;
}
li {
    list-style: none;
}
img {
    width: 150px;
    float: right;
}
h2, h1 {
    text-align: center;
    margin: 20px;
}

.grid-floats > .grid-item:first-child {
    width: 50%;
}
    
.grid-floats > .grid-item {
    float: left;
}
.grid-item {
    width: 25%;
    height: 35vh;
    padding: 10px 10px 20px 10px;
}

section + section {clear: both;}

.grid-flex {
    display: flex;
    flex-flow: row wrap;
}


