/* customize some important rules from the nav part*/
/* 1- The NavBar */
/* important to minimize the logo */
nav.pink a img {
  padding: 10px !important;
}

/* important to gather the Navbar elements and reduce the spaces between them */
.navbar-wrapper ul li a.btn-flat {
  margin: 0px !important;
}

/* to minimize the size of the dropdown content */
.dropdown-content li a {
  font-size: 13px !important;
}

/* The same as the previous one */
.dropdown-content li > a > i {
  margin-right: 5px !important;
  font-size: 1.5rem !important;
}

/* 2- The Header */
/* to unify the size of the 2 boxes in the header */
.Header-box {
  height: 20vh !important;
}

/* 3- The flexbox section -see how other ...- */
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.title-flex-container {
  width: 90%;
  justify-self: center;
  text-align: center;
  font-size: 40px;
  color: red;
  margin: 20px 0;
}

.flex-item-horizontal {
  width: 30%;
}
.flex-item-horizontal img {
  width: 100%;
}

/* Media query for the flexbox */
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .flex-item-horizontal {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .flex-item-horizontal {
    width: 90%;
  }
}
/* 4- The footer */
/* adding a hover effect to the small links in the footer */
footer .container .row .col > a:hover {
  color: rgb(248, 149, 165) !important;
}
